.site-page-header {
    margin-bottom   : 0;
    border          : 1px solid rgb(235, 237, 240);
    background-color: white;
}

.content {
    margin          : 32px;
    margin-bottom   : 0;
    padding-top     : 32px;
    min-height      : 360;
    background-color: white;
    resize          : horizontal;
    overflow        : hidden;
    height          : auto;
}

.output-panel {
    display        : flex;
    justify-content: center;
}

.output-frame {
    flex            : 1;
    margin-left     : 10%;
    margin-right    : 10%;
    background-color: #eeeeee;
}

.output-image {
    margin         : 5%;
    margin-bottom  : 0;
    width          : 90%;
    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
    image-rendering: crisp-edges;
}

.output-render-button {
    padding        : 16px;
    width          : 100%;
    height         : 100%;
    display        : flex;
    justify-content: center;
    align-items    : center;
    flex-direction : column;
}

.args-panel {
    padding-right: 5%;
    max-width    : 600px;
}

.args-frame {
    margin-left: 16px;
}

.args-pair-outer-item {
    margin-bottom: 0;
}

.args-pair-item {
    display: inline-block;
    width  : calc(50% - 36px);
}

.args-pair-middle-tag {
    display    : inline-block;
    width      : 72px;
    line-height: 32px;
    text-align : center;
}

.feedback-freq {
    display    : flex;
    margin-left: 16px;
    align-items: center;
}

.feedback-freq-slider {
    transform   : translate(0, 4px);
    display     : inline-block;
    width       : 30%;
    margin-left : 12px;
    margin-right: 12px;
}

.rendering-command-text {
    font-family: consolas, monospace;
    margin-left: 16px;
    cursor     : pointer;
}

.file-section {
    margin-left  : 8%;
    margin-right : 8%;
    margin-bottom: 32px;
}

.file-panel {}

.file-tree {
    width      : 100%;
    height     : 600px;
    overflow   : auto;
    white-space: nowrap;
    border     : 1px solid #ccc;
}

.editor-panel {
    flex-direction: column;
    height        : 600px;
}

.editor-alert {
    margin-left  : 8%;
    margin-right : 8%;
    margin-bottom: 8px;
}

.editor {
    width : auto;
    height: calc(100% - 24px);
    border: 1px solid #ccc;
}

.editor-bar {
    height          : 24px;
    font-size       : .8em;
    background-color: #007ACC;
    color           : white;
}

.editor-bar-corner {
    display         : inline-block;
    width           : 72px;
    height          : 100%;
    background-color: #16825D;
}

.editor-bar-corner-tag {
    display        : flex;
    height         : 100%;
    justify-content: center;
    align-items    : center;
}

.editor-bar-filename {
    display     : inline-block;
    padding-left: 4px;
}

.editor-bar-edit-sign {
    display    : inline-block;
    margin-left: auto;
    user-select: none;
    cursor     : pointer;
}

.editor-alter {
    display        : flex;
    width          : 100%;
    height         : 100%;
    justify-content: center;
    align-items    : center;
}

.editor-alter-image {
    height     : 90%;
    max-width      : 90%;
    object-fit     : contain;
    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
    image-rendering: crisp-edges;
}

.ast-error {
    text-decoration: red wavy underline;
}